server:
  port: ${PORT:8080}

spring:
  application:
    name: ms-api-gateway

  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials

      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:5173"
              - "http://localhost:3000"
              - "https://relatosdepapel-h4e61l9wt-camilo-camargo-oliveros-projects.vercel.app"
              - "https://relatosdepapel-pi.vercel.app"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: false

      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        - id: catalogue-service
          uri: https://ms-books-catalogue-production-f085.up.railway.app
          predicates:
            - Path=/catalogue/**
          filters:
            - StripPrefix=1
      
        - id: payments-service
          uri: https://ms-books-payments-production-e152.up.railway.app
          predicates:
            - Path=/payments/**
          filters:
            - RewritePath=/payments/(?<segment>.*), /${segment}

eureka:
  client:
    service-url:
      defaultZone: https://ms-eureka-server-production.up.railway.app/eureka/
    register-with-eureka: true
    fetch-registry: true

  instance:
    prefer-ip-address: false

management:
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  level:
    com.netflix.discovery: DEBUG
    org.springframework.cloud.netflix.eureka: DEBUG
